- name: Deploy to S3
  run: |
    aws s3 sync . s3://${{ secrets.S3_BUCKET }} \
      --delete \
      --exclude ".git/*" \
      --exclude ".github/*"

    # Fix HTML content type
    aws s3 cp s3://${{ secrets.S3_BUCKET }}/ \
      s3://${{ secrets.S3_BUCKET }}/ \
      --recursive \
      --exclude "*" \
      --include "*.html" \
      --metadata-directive REPLACE \
      --content-type text/html

    # Fix CSS content type
    aws s3 cp s3://${{ secrets.S3_BUCKET }}/ \
      s3://${{ secrets.S3_BUCKET }}/ \
      --recursive \
      --exclude "*" \
      --include "*.css" \
      --metadata-directive REPLACE \
      --content-type text/css


